/*
The purpose of this file is to add style to multiplechoice.html

Authors: Rian Amhed
         Rishi Bhalla 
         Alex Bestchart
         Travis Burke
         Ethan Cooke
*/

/* HTML tag based styles ***********************************/
body {
  background-color: rgb(240, 231, 140);
  margin: auto;
}

/* id based styles *****************************************/
/* 
The purpose of this class add style to the win loose images.

Author: Travis Burke.
*/
.winLoose {
  display: flex;
  width: 195;
}

/* 
The purpose of this function is to add style to the divs containing the grid images.

Author: Travis Burke.
*/
.gridImages {
  display: flex;
}

/* 
The purpose of this class is to centers objects to the screen.

Author: Travis Burke.
*/
.center {
  margin-left: 60%;
  margin-top: 5%;
}

/* 
The purpose ofthis class is to add style to the bear image.

Author: Travis Burke.
*/
.centerBear {
  width: 195px;
  height: 195px;
}

/* 
The purpose of this class is to set the correct sizing of the gameplay images in the grid
and the bear image.

Author: Travis Burke.
*/
.cent {
  /* Note the width is expanded so the images display properly
      within the grid */

      display: block;
      margin-left:40%;
      margin-right: auto;
      width: 50%;
}

/* 
The purpose of this class is to set the correct sizing of the text images.

Author: Travis Burke.
*/
.textImgs {
  /* Note the width is expanded so the images display properly
      within the grid */
  width: 115%;
  height: 100%;
}

.play-button {
  display: block;
  margin: auto;
  width: 300px;
  background-color: rgb(240, 231, 140);
  border: none;
  padding: none;
  font-size: 40px;
  font-weight: bold;
}
/* 
The purpose of this class is to add style to the gridimages themselves.

Author: Travis Burke.
*/
.guessImg {
  width: 195px;
  height: 195px;
}

/* class based styles **************************************/
/*
Style settings for the audio button

Author: Ethan Cooke
*/
#audio-button {
  display: inline-block;
  cursor: pointer;
  width: 24%;
}

/*
Style settings for the question text img

Author: Ethan Cooke
*/
#wordImg {
  display: inline-block;
  width: 150px;
  height: 75px;
}

#titleRow {
  display: flex;
  height: 75px;
}

#topMid {
  display: flex;
  width: 585px;
}

#midMid {
  display: flex;
  width: 585px;
}

#bottomMid {
  display: flex;
  width: 585px;
}
