/*
The purpose of this file is to add style to multiplechoice.html

Authors: Rian Amhed (A00437022)
         Rishi Bhalla 
         Alex Bestchart
         Travis Burke (A00418937) (helped style the bear images)
         Ethan Cooke (A00446392)
*/

/* HTML tag based styles ***********************************/
/*
The purpose of this tag is to ad style to the entire body of the html page.

Authors: Travis Burke Added the correct background color.

*/
body {
  background-color: rgb(240, 231, 140);
  margin: auto;
}

/* Class based styles *****************************************/
/* 
The purpose of this class add style to the win loose images.

Author: Travis Burke. Wrote initial class.
*/
.winLoose {
  display: flex;
  width: 195;
}

/* 
The purpose of this function is to add style to the divs containing the grid images.

Author: Travis Burke. Wrote initial class.
*/
.gridImages {
  display: flex;
}

/* 
The purpose of this class is to centers objects to the screen.

Author: Travis Burke. Wrote initial class.
*/
.center {
  margin-left: 60%;
  margin-top: 5%;
}

/* 
The purpose ofthis class is to add style to the bear image.

Author: Travis Burke. Wrote initial class.
*/
.centerBear {
  width: 195px;
  height: 195px;
}

/* 
The purpose of this class is to set the correct sizing of the gameplay images in the grid
and the bear image.

Author: Travis Burke. Wrote initial class.
*/
.cent {
  /* Note the width is expanded so the images display properly
      within the grid */

      display: block;
      margin-left:40%;
      margin-right: auto;
      width: 50%;
}

/* 
The purpose of this class is to set the correct sizing of the text images.

Author: Travis Burke. Wrote initial class.
*/
.textImgs {
  /* Note the width is expanded so the images display properly
      within the grid */
  width: 115%;
  height: 100%;
}

/*
The prupose of this class is to style the play again button.

Author: Ethan Cooke Wrote inital class.
*/
#play-button {
  display: block;
  position: absolute;
  width: 300px;
  background-color: rgb(240, 231, 140);
  border: none;
  padding-left: 110px;
  font-size: 40px;
  font-weight: bold;
}

/*
The prupose of this class is to style the score button.

Author: Travis Burke Wrote inital class.
*/
#score-text {
  display: inline-block;
  background-color: rgb(240, 231, 140);
  border: none;
  font-size: 20px;
  font-weight: bold;
}

#score-button {
  display: inline-block
}


/*
The prupose of this class is to make the play button turn magenta on hover. Change pointer sytle.

Author: Alex Betschart Wrote initial function.
*/
#play-button:hover {
  color: magenta;
  cursor: pointer;
}
/* 
The purpose of this class is to add style to the gridimages themselves.

Author: Travis Burke. Wrote initial class.
*/
.guessImg {
  width: 195px;
  height: 195px;
}

/* ID based styles **************************************/
/*
The prupose of this ID is to Style settings for the audio button

Author: Ethan Cooke. Wrote inital ID.
*/
#audio-button {
  display: none;
  cursor: pointer;
  width: 24%;
}

/*
The purpose of this ID is to style settings for the question text img.

Author: Ethan Cooke. Wrote inital ID.
*/
#wordImg {
  display: none;
  width: 150px;
  height: 75px;
}

/*
The prupose of this ID is to style settings for the title row of the grid.

Author: Ethan Cooke. Wrote inital ID.
*/
#titleRow {
  display: flex;
  height: 75px;
  justify-content: center;
}

/*
The prupose of this ID is to style settings for the top row of the grid of images.

Author: Ethan Cooke. Wrote inital ID.
*/
#topMid {
  display: flex;
  width: 585px;
}

/*
The prupose of this ID is to style settings for the middle row of the grid of images.

Author: Ethan Cooke. Wrote inital ID.
*/
#midMid {
  display: flex;
  width: 585px;
}

/*
The prupose of this ID is to style settings for the bottom row of the grid of images.

Author: Ethan Cooke. Wrote inital ID.
*/
#bottomMid {
  display: flex;
  width: 585px;
}

/*
The prupose of this ID is to style settings for the text displayed on success.

Author: Ethan Cooke. Wrote inital ID.
*/
#Success {
  height: 195px;
}

/*
The prupose of this ID is to style settings for the text displayed on failure.

Author: Ethan Cooke.Wrote inital ID.
*/
#oops {
  height: 195px;
}

#score {
  display: flex;
}