
/* HTML tag based styles ***********************************/

body {
   background-color: rgb(240, 231, 140);
   margin:auto;
}

/* id based styles *****************************************/


/* class based styles **************************************/

/* 
Genaric center class
*/

.center{
   margin: auto;
}